/* The tinted blur effect */
.blur-tinted {
    filter: blur(1px);
    position: relative;
    overflow: hidden;
}

.blur-tinted::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(
        135deg,
        rgba(243, 118, 191, 0.25),
        rgba(60, 134, 219, 0.25)
    );
    mix-blend-mode: screen;
}

/* When row has naughty mode AND you hover it */
.naughty-mode-row:hover {
    font-size: 12px !important;  
    opacity: 0.9 !important;
}

/* Make sure nested spans also scale bc Gmail often overrides */
.naughty-mode-row:hover span,
.naughty-mode-row:hover td,
.naughty-mode-row:hover div {
    font-size: inherit !important;
    opacity: inherit !important;
}


/* Popup for NAUGHTY MODE  */
#naughty-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999 !important;
}

/* Popup box */
.naughty-popup-content {
    background: #E2EBF3;
    padding: 12px;
    border-radius: 14px;
    width: 350px;
    text-align: center;
    position: relative;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.22);
    animation: popupFadeIn 0.25s ease;
}

/* Close button*/
.naughty-close-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}

/* Image inside popup */
.naughty-img {
    width: 250px !important;
    height: auto !important;
    /* z-index: 9999999999 !important; */
    display: block !important;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.naughty-text {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2668B2;
  
    margin-left: 20px;
    margin-right: auto;
}

@keyframes popupFadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

