body {
    font-family: "Google Sans Code", monospace;
    padding: 5px;
    width: 346px;
    height: 550px;
    background-color: #E2EBF3;
}


.h1 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: #2668B2;

  display: flex;
  justify-content: center;
}

.h2 {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #2668B2;

 
  margin-bottom: 25px;

  display: flex;
  justify-content: center;

}

/* .p {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #2668B2;

  margin-left: 20px;
  margin-right: auto;

} */

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.dropdown {
  width: 90%;
  padding: 8px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;

  background-color: #FAFDFF;
  border: 1.5px solid #2668B2;
  border-radius: 12px;
  color: #2668B2;
  outline: none;
  cursor: pointer;
}

.dropdown:invalid {
  color: #9BB4C9; /* lighter color for placeholder text */
}

.dropdown option {
  color: #2668B2;
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* transform: scale(1.3); */
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* icon of character */

.character {
  width: 273px;
  height: 273px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}